.form {
  margin-top:30px;
  font-family: consolas;
  font-size: large;
  text-align: center;
  font-size: 30px;
  width: 900px;
  margin-left: 180px;
}

.header {
  font-family: consolas;
  color: beige;
}

.btn-primary {
  width: 400px;
  margin-top:30px;
  background-color: yellow;
  color: red ;
  box-shadow: 5px 5px 5px red;
  font-size: 25px;
}
