.newpokemon-form {
  background-color: $white;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 5%;
}

.post-btn {
  background-color: gold;
  width: 350px;
  justify-content: center;
}

.my-pokemon{
  margin: 0 auto;
  text-align: center;
  text-decoration: underline;
}

#sgif{
  margin: 0 auto;

}
