.reservation-card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  height: 500px;
  background-color: #F5F3F7;
}

.btn-battle {
  width: 210px;
}

.description {
  position: relative;
  bottom: 168px;
  background-color: #F5F3F7;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  height: 150px;
  width: 730px;
}


h4 {
  text-align: center;
  color:#B20701;
  margin: 10px;
}

.stats {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  height: 550px;
  text-align: left;
  width: 730px;
}

ol {
  list-style-type: none;
}
li {
  padding-bottom:10px;
}

.words {
  color:#B20701;
}

p {
  text-align: center;
  font-size: 12px;
}
