<div class="card home-card m-4" style="width: 15rem;">
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" class="card-img-top border-bottom" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%=name%></h5>
    <p class="card-text">$<%=price%>/day</p>
    <a href="#" class="btn btn-danger">View</a>
  </div>
</div>
