.home-card {
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(196, 196, 196);

}

.btn {
  color: white;
  background-color: #b20700;
  border-radius: 10px;
  width: 75%;
  &:hover{
    background-color:gold;
    border:none;


  }
}

.card-body {
  text-align: center;


}

.card-title {
  font-weight: bold;
}

.card-banner {
  transform:rotate(35deg);
  position: relative;
  left: 50%;
  border: solid 1px rgb(209, 208, 208);
  bottom: 60px;
  width: 125px;
  text-align: center;
  border-radius: 50px 50px;
  color:white;
  background-color: #b20700;

}
.card-pic {
  background: whitesmoke;
  //border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(248, 247, 60, 0.3);

}
