.navbar-lewagon {
  justify-content: space-between;
  background: #FEFBFF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  font-size: 25px;
}

.home-link {
  text-decoration: none;
  color: #A2A1A3;
  position: relative;
  right: 20px;
  font-size: 18px;
  margin-left: 20px;
  &:hover{
    color:black;
  }
}
